// =====================================================
//
// container Style
//
// =====================================================

// body
// ================================== //
.l-body {

  padding-top: $header_height_sp;

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {

    padding-top: $header_height_pc;

  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-body

// container
// ================================== //
.l-container {
  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-container


// wrapper
// ================================== //
.l-wrap {
  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-wrap


// inner
// ================================== //
.l-inner {

  max-width: $site_width;
  margin: 0 auto;

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-inner


// content
// ================================== //
.l-content {

  padding-right: $ct_gutter * 2;
  padding-left: $ct_gutter * 2;

  .l-inner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }// .l-inner

  @include mq(sp, max, true) {

    padding-right: $ct_gutter;
    padding-left: $ct_gutter;

  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)

  // 内包1カラム
  &-wide {

    padding-right: $ct_gutter * 2;
    padding-left: $ct_gutter * 2;

    @include mq(sp, max, true) {

      padding-right: $ct_gutter;
      padding-left: $ct_gutter;

    }// @include mq(sp, max, true)
    @include mq(tab) {
    }// @include mq(tab)
    @include mq(pc) {
    }// @include mq(pc)
    @include mq(wide) {
    }// @include mq(wide)
  }// &-wide

}// .l-content
