// =====================================================
//
// header Style
//
// =====================================================

// header
// ================================== //
.l-header {

  background-color: #FCC;
  padding-right: $ct_gutter * 2;
  padding-left: $ct_gutter * 2;

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100%;
    padding: 20px;
  }// &-fixed

  @include mq(sp, max, true) {

    padding-right: $ct_gutter;
    padding-left: $ct_gutter;

  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-header
