// =====================================================
//
// 色設定
//
// =====================================================

// Base
// ================================== //

// body background value
$body_bg_value: #FFF;

// main color (base color)
$main_color: #3E75E1;

// sub color
$sub_color: #C5F4FF;

// accent color
$accent_color: #D2CBBB;

// base text color
$font_color: #333;
$font_color_light: #666;
$font_color_exlight: #999;
$font_color_splight: #CCC;
$font_color_dark: #000;


// Links
// ================================== //

// base link color
$link_color_primary: #00C;
$link_color_hover: #F60;
$link_color_active: #00F;
$link_color_visited: #551A8B;
$link_bg_color: #FFF0D9;

$link_color_secondary: $accent_color;
$link_color_tertiary: #0064FF;


// Buttons
// ================================== //

$btn_bg_color_default: #CCC;
$btn_bdr_color_default: #CCC;
$btn_txt_color_default: #333;

$btn_bg_color_primary: #3E75E1;
$btn_bdr_color_primary: #3E75E1;
$btn_txt_color_primary: #FFF;

$btn_bg_color_secondary: #F90;
$btn_bdr_color_secondary: #F90;
$btn_txt_color_secondary: #FFF;

$btn_bg_color_success: #28A745;
$btn_bdr_color_success: #28A745;
$btn_txt_color_success: #FFF;

$btn_bg_color_caution: #EF3724;
$btn_bdr_color_caution: #EF3724;
$btn_txt_color_caution: #FFF;

$btn_bg_color_warning: #FFD600;
$btn_bdr_color_warning: #FFD600;
$btn_txt_color_warning: #000;

$btn_bg_color_dark: #000;
$btn_bdr_color_dark: #000;
$btn_txt_color_dark: #FFF;

$btn_bg_color_link: transparent;
$btn_bdr_color_link: transparent;
$btn_txt_color_link: $link_color_primary;


// Tooltip
// ================================== //

$tooltip_bg_color: rgba(#000, .75);
$tooltip_txt_color: #FFF;


// Forms
// ================================== //

// チェックボックス＆ラジオボタン
$ui_input_bdr_color: #666;
$ui_input_bg_color: #FFF;
$ui_input_checked_color: $main_color;

// セレクトメニュー
$ui_select_bg_color: #FFF;
$ui_select_bdr_color: $font_color;
$ui_select_bdr_color_hover: $main_color;
$ui_select_bdr_color_active: $main_color;

// disabled, readonly
$ui_disabled_bg_color: #EEE;
$ui_disabled_bdr_color: $font_color_exlight;
$ui_disabled_txt_color: $font_color_exlight;


// Cards
// ================================== //

$card_bdr_color: #CCC;
$card_bdr_color_hover: #999;
