//=====================================================
//
// Button Style
//
// =====================================================

// button
// ================================== //
.c-btn {

  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to bottom, $btn_bg_color_default, darken($btn_bg_color_default, 10%));
  margin: 0;
  padding: $ct_gutter_half ($ct_gutter * 2);
  border: 1px solid $btn_bdr_color_default;
  box-shadow: inset 0 1px 0 rgba(#FFF, .5), 0 1px 2px rgba(#000, .15);
  color: $btn_txt_color_default;
  font-size: fs(16);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #FFF;
  line-height: 1.2;
  &:hover, &:focus {
    background: linear-gradient(to bottom, #FFF, darken($btn_bg_color_default, 13%));
    color: $btn_txt_color_default;
  }// &:hover, &:focus

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)

  // caution
  &-caution {
    background: linear-gradient(to bottom, $btn_bg_color_caution, darken($btn_bg_color_caution, 5%));
    border-color: $btn_bdr_color_caution;
    color: $btn_txt_color_caution;
    text-shadow: 0 -1px 1px $btn_bdr_color_caution;
    &:hover, &:focus {
      background: linear-gradient(to bottom, lighten($btn_bg_color_caution, 10%), darken($btn_bg_color_caution, 5%));
      color: $btn_txt_color_caution;
    }// &:hover, &:focus
  }// &-caution

  // primary
  &-primary {
    background: linear-gradient(to bottom, $btn_bg_color_primary, darken($btn_bg_color_primary, 5%));
    border-color: $btn_bdr_color_primary;
    color: $btn_txt_color_primary;
    text-shadow: 0 -1px 1px $btn_bdr_color_primary;
    &:hover, &:focus {
      background: linear-gradient(to bottom, lighten($btn_bg_color_primary, 10%), darken($btn_bg_color_primary, 5%));
      color: $btn_txt_color_primary;
    }// &:hover, &:focus
  }// &-primary

  // secondary
  &-secondary {
    background: linear-gradient(to bottom, $btn_bg_color_secondary, darken($btn_bg_color_secondary, 5%));
    border-color: $btn_bdr_color_secondary;
    color: $btn_txt_color_secondary;
    text-shadow: 0 -1px 1px $btn_bdr_color_secondary;
    &:hover, &:focus {
      background: linear-gradient(to bottom, lighten($btn_bg_color_secondary, 10%), darken($btn_bg_color_secondary, 5%));
      color: $btn_txt_color_secondary;
    }// &:hover, &:focus
  }// &-secondary

  // tertiary
  &-tertiary {
    background: linear-gradient(to bottom, $btn_bg_color_tertiary, darken($btn_bg_color_tertiary, 5%));
    border-color: $btn_bdr_color_tertiary;
    color: $btn_txt_color_tertiary;
    text-shadow: 0 -1px 1px $btn_bdr_color_tertiary;
    &:hover, &:focus {
      background: linear-gradient(to bottom, lighten($btn_bg_color_tertiary, 10%), darken($btn_bg_color_tertiary, 5%));
      color: $btn_txt_color_tertiary;
    }// &:hover, &:focus
  }// &-secondary

  // 装飾
  &-rounded {
    border-radius: 5px;
  }// &-rounded
  &-pill {
    border-radius: 50px;
  }// &-pill
  &-block {
    display: block;
  }// &-block

}// ..c-btn
